---
import RegisterIsland from '../../components/Auth/RegisterIsland.vue'
import Layout from '../../layouts/Layout.astro'
---

<Layout title='Регистрация'>
	<div>
		<RegisterIsland client:load />
	</div>
</Layout>
