.bg-950 {
	background-color: #342116;
}

.c-950 {
	color: #342116;
}

.bg-900 {
	background-color: #61412d;
}

.c-900 {
	color: #61412d;
}

.bg-800 {
	background-color: #774f35;
}

.c-800 {
	color: #774f35;
}

.bg-700 {
	background-color: #93613b;
}

.c-700 {
	color: #93613b;
}

.bg-600 {
	background-color: #b17845;
}

.c-600 {
	color: #b17845;
}

.bg-500 {
	background-color: #bf8d50;
}

.c-500 {
	color: #bf8d50;
}

.bg-400,
.nav-link:hover {
	background-color: #caa36d;
}

.c-400 {
	color: #caa36d;
}

.bg-300 {
	background-color: #dac297;
}

.c-300 {
	color: #dac297;
}

.bg-200 {
	background-color: #ebdfc7;
}

.c-200 {
	color: #ebdfc7;
}

.bg-100 {
	background-color: #f4eee0;
}

.c-100 {
	color: #f4eee0;
}

.bg-50 {
	background-color: #faf7f2;
}

.c-50 {
	color: #faf7f2;
}

header {
	background-color: white;
}

.navbar,
.container-fluid {
	padding: 0;
	background-color: white;
}

.navbar-brand img {
	width: 90px;
	transition: all 0.15s ease-in-out;
}
.navbar-brand img:hover {
	transform: scale(0.95);
}

.navbar-collapse {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.nav-link {
	padding: 0.1em 3em;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 30px;
}
.nav-link:hover {
	margin-left: 1em;
	margin-right: 1em;
}
.navbar-nav {
	padding-bottom: 5px;
	border-bottom: #93613b solid;
	border-width: 1.5px;
}
@media (min-width: 1200px) {
	header {
		margin: 0 12em;
	}
}
