---
import CartIsland from '../components/Cart/Vue/CartIsland.vue'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Корзина'>
	<section class='map-container'>
		<div class='map-head line-header mb-4 d-flex f'>
			<h1 class='ml-2'>Корзина</h1>
		</div>
		<CartIsland client:load />
	</section>
</Layout>
