---
import Layout from '../layouts/Layout.astro'

import CarouselItem1 from '../assets/img/bimibm.png'
import CarouselItem2 from '../assets/img/pips.png'
import CardImage1 from '../assets/img/Adress-img.png'
import CardImage2 from '../assets/img/bonus-img.png'
import CardImage3 from '../assets/img/Menu-img.png'
import Image from 'astro/components/Image.astro'
import { ROUTES } from '../config/routes'
import HotItems from '../components/Menu/HotItems.vue'
---

<Layout>
	<section class='Main m-page'>
		<h1 class='line-header mt-3'>Главная</h1>
		<HotItems client:load />

		<div class='card-container my-3'>
			<div class='card'>
				<div class='image-container my-4'>
					<Image src={CardImage3} alt='Меню' title='Меню' />
				</div>
				<div class='text-container mx-4 my-2'>
					<h2>Наше меню</h2>
					<h4 class='main-text'>
						Откройте для себя наше разнообразие кофейных напитков!
					</h4>
				</div>
				<div class='button-container mx-4 my-3'>
					<a href={ROUTES.MENU} class='main-text'> Посмотерть </a>
				</div>
			</div>
			<div class='card'>
				<div class='image-container my-4'>
					<Image src={CardImage1} alt='Адрес' title='Адрес' />
				</div>
				<div class='text-container mx-4 my-2'>
					<h2>Адрес кофейни</h2>
					<h4 class='main-text'>Узнайте как попсать в нашу уютную кофейню</h4>
				</div>
				<div class='button-container mx-4 my-3'>
					<a href={ROUTES.ABOUT} class='main-text'> Посмотерть </a>
				</div>
			</div>
		</div>
	</section>
</Layout>
